{% extends 'base.html' %}

{% block main %}
    <main class="unit-3-4 unit-1-on-mobile top-gap">
        <div class="bg-white card post-card px-7 py-5">
            <article class="post">
                <div class="unit unit-1-on-mobile">
                    <h1 class="top-gap-0">{{ post.title }}</h1>
                    <ul class="list-inline dot-divider post-meta">
                        <li class="list-inline-item text-small text-muted">
                            <span class="text-muted text-small text-faded">{{ post.author }}</span>
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            <a class="text-small text-faded"
                               href="#">{{ post.creat_time|date:"Y-m-d H:m" }}</a>
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            <span class="text-muted text-small text-faded">{{ post.category.name }}</span>
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            <span class="text-muted text-small text-faded">{{ post.comment_set.count }} 评论</span>
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            <span class="text-muted text-small text-faded">{{ post.views }} 阅读</span>
                        </li>
                    </ul>
                    <div class="top-gap-big post-body">
                        {{ post.body|safe }}
                        <p class="text-center">
                            -- EOF --
                        </p>
                    </div>
                    <div class="post-tags">
                        <ul class="list-inline">
                            {% for tag in post.tags.all %}
                                <li class="list-inline-item"><a class="text-small" href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
        <br>
            <!--评论模块-->
            <section class="comment-area top-gap-big" id="comment-area">
                <hr>
                <h3>发表评论</h3>

                {% if user.is_authenticated %}
                    <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                名字：{{ user.username }}
                                <input id="username" type="hidden" name="name" value="{{ user.username }}">
                            </div>
                            <div class="col-md-12">
                                <label for="id_comment">评论：</label>
                                {{ form.text }}
                                {{ form.text.errors }}
                                <button type="submit" class="comment-btn">发表</button>
                            </div>
                        </div>    <!-- row -->
                    </form>
                {% else %}
                    请先<a class="btn btn-defaul" href="{% url 'login' %}?next={{ request.path }}">登陆</a>后评论
                {% endif %}

                <div class="comment-list-panel">
                    <h3>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h3>
                    <ul class="comment-list list-unstyled">
                        {% for comment in comment_list %}
                            <li class="comment-item">
                                <span class="nickname">{{ comment.name }}</span>
                                <time class="submit-date"
                                      datetime="{{ comment.created_time }}">{{ comment.created_time }}</time>
                                <div class="text">
                                    {{ comment.text }}
                                </div>
                            </li>
                        {% empty %}
                            评论为空！
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
