<!DOCTYPE html>
{% load staticfiles %}
{% load blog_tags %}
<html lang="en">
<head>
    <title>Yiwei's Blog</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="baidu-site-verification" content="GOgEP8c1pN"/>

    <!-- css -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/friendly.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/mobi.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/modal.min.css' %}">

    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'blog/js/menu.js' %}"></script>
    <script src="{% static 'blog/js/modal.min.js' %}"></script>
    <script src="{% static 'blog/js/blog.js' %}"></script>
    {% block style %}{% endblock style %}
</head>
<body class="bg-light">
<header>
    <nav class="flex-center bg-white nav-bar">
        <div class="container-wider flex-middle">
            <a class="nav-bar-logo mr-7" href="{% url 'blog:index' %}">
                <img src="{% static 'blog/images/logo.png' %}" alt="blog logo">
            </a>
            <ul class="unit-0 hide-on-mobile nav-bar-nav">
                <li class="nav-item mr-7">
                    <a class="nav-link" href="{% url 'blog:index' %}">首页</a>
                </li>
                        <li class="nav-item mr-7">
                          <a class="nav-link" href="{% url 'blog:index' %}">博客</a>
                {#        </li>#}
                {#        <li class="nav-item mr-7">#}
                {#          <a class="nav-link" href="{% url 'blog:archives' %}">归档</a>#}
                {#        </li>#}
                {#        <li class="nav-item">#}
                {#          <a class="nav-link" href="{% url 'blog:donate' %}">赞助</a>#}
                {#        </li>#}
            </ul>
            <div class="unit flex-right flex-middle">
                <form class="hide-on-mobile flex-left flex-middle search-form mr-5" id="search-form"
                      action="{% url 'haystack_search' %}">
                    <input class="unit" type="search" name="q" placeholder="搜索..."/>
                    <button class="unit-0" type="submit" role="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                <a class="show-on-mobile nav-link fs-7 mr-7" id="js-search-btn" href="#" role="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>

                <!-- 用户注册登录-->
                <div class="flex-middle notification">
                    {% if user.is_authenticated %}
                        <a class="flex-middle nav-link fs-7" href="{% url 'logout' %}?next={{ request.path }}">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'login' %}?next={{ request.path }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="show-on-mobile flex-middle">
                    <a class="nav-link fs-7 ml-7 mr-5" id="menu-toggle" href="#">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <ul class="menu bg-white" data-menu data-menu-toggle="#menu-toggle">
                        <li class="nav-item mr-7">
                            <a class="nav-link" href="{% url 'blog:index' %}">首页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="flex-center">
    <div class="container-wider">
        <div class="flex-left flex-wrap units-gap-big"
             style="margin-top: 60px">
            {% block main %}{% endblock main %}
            {% block side %}
                <aside class="unit-1-4 unit-1-on-mobile top-gap">
                    <section class="bg-white card">
                        <div class="card-header">
                            最近文章
                            {% get_recent_post as recent_post_list %}
                            <ul>
                                {% for post in recent_post_list %}
                                    <li><a class="text-muted" target="_blank"
                                           href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                    <section class="bg-white card">
                        <div class="card-header">
                            归档
                            {% archive as archive_list %}
                            <ul>
                                {% for ar in archive_list %}
                                    <li><a class="text-muted" target="_blank"
                                           href="{% url 'blog:archives' ar.year ar.month %}">{{ ar.year }}年{{ ar.month }}月</a>
                                    </li>
                                {% empty %}
                                    无归档！
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                <section class="bg-white top-gap card">
            <div class="card-header">
              个人信息
              <ul>
                <li><a class="text-muted" target="_blank"
                       href="https://github.com/zyw94107">GitHub</a>
                </li>
                <li>Email:zyw017@gmail.com</li>
              </ul>
            </div>
          </section>
                </aside>
            {% endblock side %}
        </div>
    </div>
</section>

<footer class="bg-white py-5 mt-5 text-small text-muted">
    <div class="flex-center">
        <div>&copy; 2018 Yiwei的博客</div>
    </div>

</footer>
</body>
</html>
